# Default ignored files
/.idea
/__pycache__

lib/__pycache__/*
networks/__pycache__/*
__pycache__/*
*/__pycache__/*
*.pyc

.vscode/*
results/*
data/*
pretrained/*
output/*


=======
Config/*
*.slurm
slurm_logs*/
*.txt
backup/*

